  /*    

  BACKGROUND COLOR :: #060b27

  Light Blue Neon Green Text color :: #00d7ca
  Gray / Blue Color of Text :: #8f9bb7
  Dark Blue Purple :: #1f0078
  Purple Color :: 7214ff
  Gray color :: #8f9bb7

  */

/* Apply Montserrat font globally */
body, h1, h2, h3, h4, h5, h6, p, a, ul, li, button {
  font-family: 'Montserrat', sans-serif;
}

/* Global Header sizes */ 
.global_Header_size {
  font-size: clamp(2rem, 2vw, 3rem);
}
/* Custom background color for navbar */
.bg-custom {
  background-color: #060b27;
}

/* Navbar link colors */
.navbar-nav .nav-link {
  color: #8f9bb7;
}

.navbar-nav .nav-link:hover {
  color: #00d7ca;
}

/* Adjust the margin and padding for smaller screens */
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    padding: 10px; 
    font-size: 1.2rem; 
  }
}

/* Fine-tune navbar toggler button */
.navbar-toggler {
  border-color: #8f9bb7;
}

.navbar-toggler-icon {
  background-color: #8f9bb7; 
}

/*End of the nav bar*/

/* Start of the header */
.first-page-text {
  margin-top: 15vh;
}

.colored-sentence {
  color: white;
  letter-spacing: 0.1vh;
  font-size: clamp(2rem, 3vw, 5rem);
}

.colored-word {
  color: #00d7ca;
}
/* Default, no break */
.breakpoint-br {
  display: none;
}

/* Break after Justin Morgan for smaller screens */
@media (max-width: 768px) {
  .breakpoint-br {
    display: inline;
  }
}
.colored-words {
  color: #8f9bb7;
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.Lets_talk_main {
  list-style: none;
  padding: 0;
  margin: 0; 
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Lets_talk_main li {
  margin: 0;
}

.Lets_talk_main .button {
  background-color: #1f0078;
  text-decoration: none;
  padding: .3vh 2.5vh; 
  font-size: 1rem; 
  border-radius: 1vh;
  color: white;
  border: 0.2vh solid transparent;
  transition: all 0.3s ease; 
}

.Lets_talk_main .PgButton {
  background-color: transparent;
  text-decoration: none;
  padding: .3vh 2.5vh; 
  font-size: 1rem; 
  border-radius: 1vh;
  color: white;
  border: 0.2vh solid white;
  transition: all 0.3s ease; 
}

.Lets_talk_main .button:hover,
.Lets_talk_main .PgButton:hover {
  color: #00d7ca;
}

/* Default for large screens */
.aws_badge {
  margin-top: -2rem;
}

/* For medium screens */
@media (max-width: 1200px) {
  .aws_badge {
    margin-top: 0rem;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Adjust buttons for smaller screens */
  .Lets_talk_main .button,
  .Lets_talk_main .PgButton {
    width: 100%; 
    text-align: center;
    padding: .2vh 1vw; 
  }
}

@media (max-width: 576px) {
  /* Extra adjustments for very small screens */
  .Lets_talk_main .button,
  .Lets_talk_main .PgButton {
    padding: .2vh 2vw; 
    font-size: 1.2rem; 
  }
}

/*About Me*/
.custom-mt {
  margin-top: 5rem; /* Default value for small screens */
}

.aboutMeTxt {
  font-size: clamp(1.2rem, 1.2vw, 1.5rem);
}

/* For screens larger than 992px */
@media (min-width: 992px) {
  .custom-mt {
    margin-top: 10rem;
  }
}
@media (min-width: 1200px) {
  .custom-mt {
    margin-top: 13rem;
  }
}
/*End of About Me*/

/*Start of the project cards*/
.card {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-overlay {
  opacity: 1;
}

.projectNames {
  color: white;
  margin-top: 0.5rem;
}

/* Glassmorphism Card */
.container .card {
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* 16:9 Aspect Ratio */
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
}

.container .card .calc-wrapper img {
  width: 70%; 
  position:absolute; 
  margin-left: 15%;
  opacity: 1; 
  opacity: .15; 
}

.container .card .ImageClassification-wrapper img {
  width: 100%; 
  height: 100%;
  position:absolute; 
  margin-left: 0%;
  opacity: 1; 
  opacity: .15; 
}

.container .card .brooke-wrapper img {
  width: 100%; 
  height: 100%;
  position:absolute; 
  margin-left: 0%;
  opacity: 1; 
  opacity: .15; 
}

.container .card .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
}

.container .card:hover .content {
  transform: translateY(0px); 
  opacity: 1;
}

.container .card .content h3 {
  font-size: 1.8rem; 
  color: #fff; 
  z-index: 1; 
}

.container .card .content p {
  font-size: 1.2rem; 
  color: #fff; 
  font-weight: 300; 
}

.container .card .content a {
  position: relative; 
  padding: .2vh 2.2vh; 
  margin-top: 2.41vh; 
  background: #00d7ca; 
  color: #060b27; 
  border-radius: 3.21vh; 
  text-decoration: none; 
  font-weight: 500; 
  box-shadow: 0 0.80vh 2.41vh rgba(0, 0, 0, 0.2); 
}

@media (max-width: 991.98px) {
  .container .card {
    margin-top: 1rem;
  }
}
/*End of Projects*/

/* Start of the Progress Bars */
.progress-bar {
  position: relative;
  width: 100%; /* Ensure the progress bar takes up 100% width of its container */
  background: #fff;
  padding: 1.6vh 3.2vh;
  border-radius: 2vh;
}

/* Skill Box */
.progress-bar .skill-box {
  width: 100%;
  margin: 1.5vh 0; /* Adjusted for better responsiveness */
}

/* Skill Title */
.skill-box .title {
  font-size: clamp(1.5rem, 2.5vw, 2.5vh); /* Responsive font size */
  font-weight: 600;
  color: white;
}

/* Skill Bar */
.skill-box .skill-bar {
  height: 2vh;
  width: 100%;
  border-radius: 2vh;
  background: rgba(22, 33, 61);
}

/* Progress Bars for Different Skills */
.my-progress-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 0.9vh;
  background-image: linear-gradient(to right, #01d5c9, #1f0279);
  transition: width 0.3s ease;
}

.my-progress-bar .skill-box:nth-child(1) .skill-per { width: 70%; }
.my-progress-bar .skill-box:nth-child(2) .skill-per { width: 94%; }
.my-progress-bar .skill-box:nth-child(3) .skill-per { width: 84%; }
.my-progress-bar .skill-box:nth-child(4) .skill-per { width: 92%; }
.my-progress-bar .skill-box:nth-child(5) .skill-per { width: 94%; }
.my-progress-bar .skill-box:nth-child(6) .skill-per { width: 78%; }

/* Responsive Adjustments */
@media (max-width: 991.98px) {
  .progress-bar {
    padding: 1.2vh 2vh; 
  }

  .skill-box .title {
    font-size: clamp(1.2rem, 2vw, 2.2vh); 
  }

  .my-progress-bar .skill-box {
    margin: 1.2vh 0; 
  }

  .skill-box .skill-bar {
    height: 1.8vh; 
  }
}

@media (max-width: 768px) {
  .progress-bar {
    padding: 1vh 1.5vh;
  }

  .skill-box .title {
    font-size: clamp(1rem, 1.8vw, 1.8vh); 
  }

  .skill-box .skill-bar {
    height: 1.5vh; 
  }
}

@media (min-width: 1200px) {
  .progress-bar {
    padding: 2vh 3.2vh; 
  }

  .skill-box .title {
    font-size: clamp(1rem, 3vw, 1.3rem); 
  }

  .skill-box .skill-bar {
    height: 2.2vh; 
  }
}

.computerNerd {
  position: relative;
}

.computerNerd img {
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 55%;
}

.text-item {
  position: absolute;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease;
}

#circle-container {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 45vmin;
  height: 45vmin;
  transform: translate(-50%, -50%);
  color: #7214ff;
  z-index: 1;
}

.text-item {
  position: absolute;
  font-size: clamp(.2rem, 3vh, 1.5rem);
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
}

.expContaier {
  position: relative;
  height: 100%;
  text-align: center;
}

.expCircle {
  width: 5rem;
  height: 5rem;
  min-width: 40px;
  min-height: 40px;
  background-color: #01d5c9;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.expContaier .expImg {
  position: absolute;
  width: 4rem;
  height: 4rem;
  margin-left: -2.05rem;
  margin-top: 0.5rem;
  z-index: 2;
}

.verticalLine{
  z-index: -1;
  position: relative;
  width: .8rem; 
  height: 90%; 
  top: 19%;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, #01d5c9 , #1f0279);
}

.verticalLineAcxiomtoUCA {
  z-index: -1;
  position: relative;
  width: .8rem; 
  height: 60%; 
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, #01d5c9 , #1f0279);
}

@media screen and (max-width: 990px) {
  .verticalLine {
    top: 14%;
  }
}

@media screen and (min-width: 991px) and (max-width: 1198px) {
  .verticalLine {
    top: 15%;
  }
}

@media screen and (min-width: 1199px) and (max-width: 1399px) {
  .verticalLine {
    top: 16%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1577px) {
  .verticalLine {
    top: 18%;
  }
}
.expBackground {
  position: relative;
  display: inline-block;
  background-color: #0c1338;
  border-radius: 1.5vh;

}

.naming {
  position: relative;
  color: #01d5c9;
  font-size: clamp(1.5rem, 2.4vw, 1.9rem);
  font-weight: 400;
  margin-left: 1rem;
}

.date {
  position: relative;
  color: #8f9bb7;
  font-size: clamp(.7rem, 2vw, 1rem);
  left: 4%;
}

.role {
  position: relative;
  color: white;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  margin-left: 1rem;
}

.experiences {
  position: relative;
  color: #8f9bb7;
  font-size: 1.3rem;
  margin-top: .5rem;
}

.skillUsed-first {
  margin-left: 3vh;
}

.skillUsed {
  display: inline-block;
  margin-bottom: 3vh;
  font-size: clamp(1rem, 1vw, 1.3rem);
  font-weight: 400;
  padding: 0.01rem clamp(.7rem, 1vw, 1rem);
  border: 0.2vh solid;
  border-radius: 1vh;
  background-color: #01d5c9;
  text-decoration: none;
  color: #000;
}


/*Start of footer */

.cs-footborder{
  width: 100%;
  background-color: #010a3e;
}

.swigglyLine {
  width: 120px;
  margin-left: 45%;
  margin-top: 20%;
}

.footerCircle {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #1f0078;
  border: none;
  overflow: hidden;
}

.footer-img {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

.footerName {
  position: relative; 
  text-align: center;
  font-size: clamp(1rem, 4vw, 2.2rem);
  top: 50%;
  color: white;
  align-items: center;
}

.footerRole {
  font-size: 1.2rem;
}

.footerEmail {
  position: relative; 
  text-align: center;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  top: 60%;
  left: -27%;
  padding-left: 0%;
  left:auto;
}

.footerEmail .footerEmailName {
  display: block;
  font-weight: normal;
}

.footerText {
  font-size: clamp(1rem, 4vw, 3rem);
  margin-top: clamp(2rem, 2vw,3rem);
  color: white;
}

.footerlmText {
  font-size: clamp(.01rem, 3vw, 1rem);
  color: white;
}

.footerButton{
  background: #1f0078;
  text-decoration: none;
  border-radius: 1vh;
  border: none; 
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 0vh 1rem;
}
.footerButton a {
  text-decoration: none;
  color: white;
}

.footerButton a:hover {
  color: #01d5c9;
}

.footerFollowMe {
  position: relative; 
  margin-left: 50%;
  margin-top: 4rem;
  font-size: clamp(.5, 2vw, 1.2rem);
  color: white;
}

.image-button {
  text-decoration: none;
  border: none;
  background: none;
}

.mediaQueryFooter::before {
  content: "\A";
  white-space: pre;
}

@media screen and (max-width: 1071px) {

  .mediaQueryFooter::before {
    content: "";
    white-space: pre;
  }
}

@media screen and (max-width: 575px) {
  .footerButton{
    margin-top: 10%; 
    margin-left: 20%;
  }
  .footerFollowMe {
    position: relative; 
    margin-left: 22%;
    margin-top: 5vh;
    font-size: 1.2rem;
    color: white;
  }

  .footerText {
    margin-left: 0vh;
    line-height: normal;
  }

  .footerButton{
    border-radius: 1vh;
    padding: .5vh 3vh;
    padding-top: -5vh;
  }
}

@media screen and (min-width:576px) and (max-width: 637px) {
  .footerFollowMe { 
    margin-left: 22%;
    margin-top: 5vh;
  }
  
  .footerText {
    margin-left: 0vh;
  }

  .footerlmText {
    margin-left: 0vh;
  }

  .footerButton{
    margin-top: 10%; 
    margin-left: 20%;
  }
}
